.vs/
[Tt]humbs.db
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.ilk
*.pdb
*.ncb
*.opensdf
*.sdf
*.log
*.tlog
bin/
obj/
TestResults/
*.csproj.user
*.csproj.*.user
packages/
*.nupkg
.nuget/
*.swp
*.swo
*~
~$*
_ReSharper.*
*.ReSharper.*
.vscode/
*.userprefs
*.msbuild
*.binlog
publish/